<div class="container" *ngIf="userLoginOn == false">
  <p>Necesitas tener una cuenta registrate.</p>
</div>

<div class="container" *ngIf="userLoginOn == true">
  <h1>CRUD - USUARIO</h1>

  <a
    href="#"
    routerLink="/users/create/"
    class="btn btn-success"
    *ngIf="userAdmin == true"
    >Crear Usuario</a
  >

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>

        <th>Usuario</th>

        <th>Contraseña</th>

        <th>Correo</th>

        <th>Rol</th>

        <th width="250px">Acción</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>

        <td>{{ user.user }}</td>

        <td>{{ user.password }}</td>

        <td>{{ user.email }}</td>

        <td>{{ user.role }}</td>

        <td>
          <a
            href="#"
            [routerLink]="['/users/', user.id, 'edit']"
            class="btn btn-primary"
            >Editar</a
          >

          <button
            type="button"
            (click)="deletePost(user.id)"
            class="btn btn-danger"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
